body {
    background: none;
    color: black;
    font-family: "Times New Roman", Georgia, Palatino, serif;
    margin: 50px;
}

header, footer, .menu {
    display: none;
}

.content {
    margin: 0;
    padding: 0;
}

a:link:after, a:visited:after {
    content: " (" attr(href) ")";
    font-size: 90%;
}
